* {
  margin: 0;
  padding: 0;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


nav {
  background-color: #994fa0;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 30px;
}

nav ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

nav ul li {
  font-size: 10px;
  color: white;
  width: 100%;
  align-items: center;
  justify-content: center;
  display: flex;
}

li:not(:nth-last-child(1)) {
  border-right: 1px solid;
}

img {
  padding-top: 80px;
  width: 100%;
  height: 500px;
}

header {
  background-color: rgb(70, 35, 105);
}

main {
  display: flex;
  background-color: #6a387e;
  width: 100%;
  height: 800px;
}

section#texto {
  width: 50%;
  padding: 20px;
}

section#texto h1 {
  color: #662d5e;
  font-size: 20px;
  margin-bottom: 10px;
}

section#texto p {
  color: black;
  font-size: 12px;
  margin-bottom: 10px;
}

section#imagens {
  width: 50%;
  padding: 20px;
  height: 400px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
}


.linha {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.imagem img {
  width: 75px;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.ZAP {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}


.imagem h5 {
  background-color: #642b64;
  width: 100%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  color: rgb(81, 31, 104);
  margin-top: 10px;
}


footer {
  height: 20px;
  background-color: #68178d;
  bottom: 0px;

}
